body {
    background-color: black;
    color: white;
    border: 2px;
    font-size: 200%;
}

h1 {
    text-align: center;
    border: 2px;
}

.Bendras {
    display: flex;
    background-color: black;
    border: 2px solid white;
    flex-direction: column;
    justify-content: space-around;
}

.Pavadinimo {
    border: 2px solid white;
    justify-content: center;
    align-items: center;
    justify-items: center;
}

.Pavadinimas {
    flex-direction: row;
    height: 100px;
    width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.Aprašymas {
    display: flex;
    align-items: center;
    height: 1000px;
    width: 100%;
}

.Vertinimo {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.Knopkės {
    display: flex;
    justify-items: center;
    height: 80px;
    width: 30%;
    font-size: 50px;
    justify-content: center;
    align-items: center;
}